DATAFRAME CON PANDAS

data = Diccionario
<br>
index = filas
<br>
colummns = columas

In [1]:
import pandas as pd

Dataframe  a partir de un diccionario

In [2]:
data = {'ALUMNO':['Selene', 'Joseep', 'Marck'],
        'CURSO':['Matemática', 'Lenguaje', 'Ciencia Sociales'],
        'CREDITOS':[4, 5, 6]}

In [3]:
alumnos = pd.DataFrame(data)
alumnos

   ALUMNO             CURSO  CREDITOS
0  Selene        Matemática         4
1  Joseep          Lenguaje         5
2   Marck  Ciencia Sociales         6