DATAFRAME

In [1]:
# un datafrimer es un conjunto de series 
import pandas as pd
import numpy as np
data = {'NOMBRE':['Gesler', 'Omar', 'Olano', 'Anotny'],
        'NOTAS':[15, 12, 8, 14], 
        'CORREO': ['gesler1116@gmail.com', 'omar@outlook.es', 'olanochupapinga@gmail.com', 'elimpotente@pijamuerta.com']
        }
data

{'NOMBRE': ['Gesler', 'Omar', 'Olano', 'Anotny'],
 'NOTAS': [15, 12, 8, 14],
 'CORREO': ['gesler1116@gmail.com',
  'omar@outlook.es',
  'olanochupapinga@gmail.com',
  'elimpotente@pijamuerta.com']}

In [16]:
df = pd.DataFrame(data)
df

   NOMBRE  NOTAS                      CORREO
0  Gesler     15        gesler1116@gmail.com
1    Omar     12             omar@outlook.es
2   Olano      8   olanochupapinga@gmail.com
3  Anotny     14  elimpotente@pijamuerta.com

In [4]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['número x', 'número y', 'número z'])
df

   número x  número y  número z
0 -2.136105 -0.175905 -0.010882
1 -0.457440  0.674848 -0.534527
2 -0.627652  0.240319 -0.303902
3 -0.868199  1.033492 -0.385354