In [1]:
import pandas as  pd

In [11]:
materias = pd.Series({"Matematica": 20, "Lenguaje": 35, "Quimica": 40 })
materias[materias>25]

Lenguaje    35
Quimica     40
dtype: int64

In [7]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])

In [8]:
# FUNCIONES EN PANDAS
numeros.max()

12

In [9]:
# FUNCIONES EN PANDAS 
numeros.min()

1

In [10]:
# FUNCIONES EN PANDAS (DESCRIPCION)
numeros.describe()

count    12.000000
mean      6.500000
std       3.605551
min       1.000000
25%       3.750000
50%       6.500000
75%       9.250000
max      12.000000
dtype: float64

PANDAS RELACIONADNO

In [16]:
jugadores = ["Messi", "Cristiano Ronaldo", "Benzema"]

In [17]:
equipos = ["PSG", "Manchester United", "Real Madrid"]

In [18]:
futbol = pd.Series(index=equipos, data=jugadores)
futbol

PSG                              Messi
Manchester United    Cristiano Ronaldo
Real Madrid                    Benzema
dtype: object